@import "_header"
@import "_nav"
@import "_footer"
@import "_popup"

// .header__logo,.header__soc a,.header__link, .nav__item span
	// transition: 0.3s all
	// z-index: 8

.header__logo img
	width: 188px

.header__link--1 img
	width: 66px
.header__link--2 img
	width: 102px

.active--img
	display: none

+max-screen(940px)
	.header__logo img
		width: 143px
	.header__link--2 img
		width: 74px
	.header__link--1 img
		width: 51px
.preload
	opacity: 0
	will-change: opacity
.page
	position: relative
	width: 100%
	min-height: 100%
	overflow: hidden
	// position: relative
	// z-index: 1
	// overflow: hidden
	// width: 100%
	// min-height: 100vh
	&.load
		.preload
			animation: preload 0.5s ease 4s forwards
	&.active
		.nav__item span
            color: rgba(240, 240, 240, 0.8) !important
		.header__logo, .header__link
            color: rgba(255, 255, 255, 0.8) !important
		.header__soc a
			color: rgba(255, 255, 255, 0.5) !important
		.videoWrap::after
			background: rgba(0,0,0,0.5)
		.passive--img
			display: none
		.active--img
			display: inline
		.house
			opacity: 0
		+max-screen(940px)
			.house
				opacity: 1
			.nav
				margin-top: 10px 
				span
					color: #ffffff !important
				i
					display: block
	&__bg
		position: fixed
		top: 0
		left: 0
		width: 100%
		height: 100%
		// min-height: 560px
		background: radial-gradient(ellipse at center, rgba(255,255,255,1) 36%,rgba(132,132,132,1) 99%)
		//background: url('../img/background.svg') no-repeat center center
		//background-size: cover
		transition: 1s all
		z-index: 2
		//+max-screen(940px)
			//background: radial-gradient(ellipse at center, rgba(255,255,255,1) 36%,rgba(197,197,197,1) 99%)


@keyframes preload
	0%
		opacity: 0
	100%
		opacity: 1

@-webkit-keyframes preload
	0%
		opacity: 0
	100%
		opacity: 1

.videoWrap
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	overflow: hidden
	z-index: 5
	&::after
		content: ''
		display: block
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-color: rgba(0,0,0,0)
		transition: 1s background
		z-index: 2

.videoBg
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	min-width: 100%
	min-height: 100%
	opacity: 0
	transition: 1s all
	z-index: 1
	&.active
		opacity: 1

.wrap
	position: relative
	margin: 0 auto
	max-width: $maxW
	min-width: $minW
	padding: 0 $wrapperM-padd

	+max-screen($screenSL)
		padding-left: $wrapperS-padd
		padding-right: $wrapperS-padd

	+max-screen($screenSS)
		padding-right: $wrapperSS-padd
		padding-left: $wrapperSS-padd

// .wrap-inner
//     display: block
//     width: auto
//     margin-left: -$wrapperM-padd
//     margin-right: -$wrapperM-padd

//     +max-screen($screenSL)
//         margin-left: -$wrapperS-padd
//         margin-right: -$wrapperS-padd

//     +max-screen($screenSS)
//         margin-left: -$wrapperSS-padd
//         margin-right: -$wrapperSS-padd


.check
	position: fixed
	z-index: 1000
	top: 10px
	left: 10px
	color: #000000