.load
    .header
        &__logo
            i
                animation: bounce_top 0.5s cubic-bezier(0.42, 0, 0, 1.91) 4.2s forwards
            span
                animation: h_in_left 0.5s ease 4.3s forwards
        &__soc
            a
                animation: bounce_bottom 0.5s cubic-bezier(0.42, 0, 0, 1.91) 4.2s forwards
        &__link
            &--1
                animation: bounce_top 0.5s cubic-bezier(0.42, 0, 0, 1.91) 4.2s forwards
            &--2
                animation: bounce_bottom 0.5s cubic-bezier(0.42, 0, 0, 1.91) 4.2s forwards
    +max-screen(940px)
        &__link
            &--1
                animation: bounce_bottom 0.5s cubic-bezier(0.42, 0, 0, 1.91) 4.2s forwards
            &--2
                animation: bounce_bottom 0.5s cubic-bezier(0.42, 0, 0, 1.91) 4.2s forwards
        &__soc
            animation: h_in_bottom 0.5s ease 4.2s forwards
            a
                animation: bounce_top 0.5s cubic-bezier(0.42, 0, 0, 1.91) 4.2s forwards


.header
    position: fixed
    top: 60px
    left: 60px
    width: calc(100% - 120px)
    height: calc(100% - 120px)
    min-height: 430px
    z-index: 10
    &__logo
        position: absolute
        top: 0
        left: 0
        color: #2f2f2f
        display: flex
        align-items: center
        i
            width: 50px
            height: 50px
            float: left
            background: url(../img/logo.svg) no-repeat center
            background-size: contain
            margin-right: 15px
            opacity: 0
            will-change: animation
        span
            opacity: 0
            will-change: animation
        // img
            // text-transform: uppercase
            // font-size: 19px
            // font-weight: 500
            // white-space: pre
    &__soc
        position: absolute
        bottom: 0
        left: 0
        font-size: 14px
        display: flex
        align-items: center
        a
            float: left
            margin-right: 30px
            color: #404040
            opacity: 0
            will-change: animation
    &__link
        position: absolute
        right: 0
        color: #333
        font-size: 22px
        font-weight: 500
        text-transform: uppercase
        cursor: pointer
        opacity: 0
        will-change: animation
        &--1
            top: 0
        &--2
            bottom: 0
    +max-screen(940px)
        top: 15px
        left: 20px
        width: calc(100% - 35px)
        height: calc(100% - 30px)
        &__logo
            display: flex
            flex-direction: column
            left: 50%
            transform: translateX(-50%)
            i
                margin-right: 0
                margin-bottom: 15px
            span
                font-size: 14.5px
        &__link
            width: 50%
            text-align: center
            font-weight: bold
            letter-spacing: 1px
            bottom: 94px
            font-size: 14px
            &--1
                top: auto
                left: 0
            &--2
                left: auto
                right: 0
        &__soc
            justify-content: space-between
            width: 100%
            // padding-bottom: 7px
            a
                margin-right: 0
    +max-screen(660px)
        &__link
            bottom: 50px


@keyframes bounce_top
    0%
        opacity: 0
        transform: translateY(-100px)
    100%
        opacity: 1
        transform: translateY(0)

@keyframes bounce_bottom
    0%
        opacity: 0
        transform: translateY(100px)
    100%
        opacity: 1
        transform: translateY(0)

@keyframes h_in_left
    0%
        opacity: 0
        transform: translateX(-100px)
    100%
        opacity: 1
        transform: translateX(0)

@keyframes h_in_right
    0%
        opacity: 0
        transform: translateX(100px)
    100%
        opacity: 1
        transform: translateX(0)

@keyframes h_in_top
    0%
        opacity: 0
        transform: translateY(-100px)
    100%
        opacity: 1
        transform: translateY(0)

@keyframes h_in_bottom
    0%
        opacity: 0
        transform: translateY(100px)
    100%
        opacity: 1
        transform: translateY(0)

@-webkit-keyframes bounce_top
    0%
        opacity: 0
        transform: translateY(-100px)
    100%
        opacity: 1
        transform: translateY(0)

@-webkit-keyframes bounce_bottom
    0%
        opacity: 0
        transform: translateY(100px)
    100%
        opacity: 1
        transform: translateY(0)

@-webkit-keyframes h_in_left
    0%
        opacity: 0
        transform: translateX(-100px)
    100%
        opacity: 1
        transform: translateX(0)

@-webkit-keyframes h_in_right
    0%
        opacity: 0
        transform: translateX(100px)
    100%
        opacity: 1
        transform: translateX(0)

@-webkit-keyframes h_in_top
    0%
        opacity: 0
        transform: translateY(-100px)
    100%
        opacity: 1
        transform: translateY(0)

@-webkit-keyframes h_in_bottom
    0%
        opacity: 0
        transform: translateY(100px)
    100%
        opacity: 1
        transform: translateY(0)