.nav
    position: fixed
    z-index: 100
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    text-align: center
    white-space: pre
    vertical-align: middle
    text-transform: uppercase
    user-select: none
    overflow: hidden
    width: 100%
    +max-screen-height(460px)
        top: 230px

    i
        color: #ffffff
        position: absolute
        top: 0
        left: 0
        width: 100%
        text-align: center
        transform: rotate(180deg)
        display: none
        cursor: pointer
        z-index: 100
    &__item
        position: relative
        display: block
        font-weight: 500
        color: #010101
        width: 100%
        max-height: 102px
        transition: 0.3s all
        span
            display: block
            font-size: 130px
            line-height: 102px
            width: 100%
            transition: 0.3s all
            cursor: pointer
            padding-top: 25px
            max-height: 102px
            display: flex
            justify-content: center
            align-items: center
        +max-screen(1500px)
            max-height: 82px
            span
                font-size: 100px
                line-height: 82px
        &.active
            span
                opacity: 0
            .navLevel
                animation: fadeInNavLevel 0.6s forwards
                &__item
                    opacity: 0
                    animation: fadeInNavLevelItem 0.5s cubic-bezier(0.54, 0.11, 0.28, 1.88) forwards

    +max-screen(960px)
        display: flex
        flex-wrap: wrap
        flex-direction: column
        overflow: visible
        &__item
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            max-height: 50px
            margin: 0
            padding-top: 0
            span
                font-size: 30px
                line-height: 50px
                letter-spacing: 1.5px
            &.active
                max-height: 300px
                span
                    opacity: 1
                .navLevel
                    opacity: 1
                    visibility: visible
                    animation: none
                    &__item
                        opacity: 0
                        animation: fadeInNavLevelItemMobile 0.5s cubic-bezier(0.54, 0.11, 0.28, 1.88) forwards
            &.hide
                height: 0
                opacity: 0
                display: none
                .navLevel
                    visibility: hidden

.navLevel
    display: flex
    justify-content: center
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    transition: 0.3s all
    opacity: 0
    visibility: hidden
    background-color: rgba(255,255,255,.5)
    height: 95px
    margin-top: 15px
    +max-screen(1500px)
        height: 70px
        margin-top: 20px
    +max-screen(960px)
        height: auto
        flex-wrap: wrap
        align-items: center
        flex-direction: column
        position: static
        transform: none
        background-color: rgba(255,255,255,0)
        margin-top: 0
    &__item
        padding: 0 50px
        font-size: 45px
        font-weight: 100
        color: #000
        height: 95px
        line-height: 95px
        background-color: rgba(0,0,0,0)
        transition: 0.3s all
        cursor: pointer
        display: flex
        opacity: 0
        margin: 0
        /*&:hover
            background-color: rgba(0,0,0,0.7)
            color: #ffffff*/
        +max-screen(1500px)
            font-size: 22px
            height: 70px
            line-height: 70px
        +max-screen(960px)
            overflow: hidden
            position: relative
            height: 45px
            line-height: 45px
            background-color: rgba(255,255,255,0)
            color: #ffffff
            /*&:hover
                background-color: rgba(255,255,255,0.5)
                color: #000000*/

@keyframes fadeInNavLevel
    0%
        opacity: 0
        visibility: hidden
        background-color: rgba(255,255,255,0)
    1%
        visibility: visible
        opacity: 0
    30%
        opacity: 1
    70%
        background-color: rgba(255,255,255,0)
    100%
        visibility: visible
        opacity: 1
        background-color: rgba(255,255,255,0.5)

@-webkit-keyframes fadeInNavLevel
    0%
        opacity: 0
        visibility: hidden
        background-color: rgba(255,255,255,0)
    1%
        visibility: visible
        opacity: 0
    30%
        opacity: 1
    70%
        background-color: rgba(255,255,255,0)
    100%
        visibility: visible
        opacity: 1
        background-color: rgba(255,255,255,0.5)

@keyframes fadeInNavLevelItem
    0%
        opacity: 0
        transform: translateY(100%)
    100%
        opacity: 1
        transform: translateY(0)

@-webkit-keyframes fadeInNavLevelItem
    0%
        opacity: 0
        transform: translateY(100%)
    100%
        opacity: 1
        transform: translateY(0)

@keyframes fadeInNavLevelItemMobile
    0%
        opacity: 0
        transform: translateX(100%)
    100%
        opacity: 1
        transform: translateX(0)

@-webkit-keyframes fadeInNavLevelItemMobile
    0%
        opacity: 0
        transform: translateX(100%)
    100%
        opacity: 1
        transform: translateX(0)