// ----------------------------------------------------------------------
// Font variables
// ----------------------------------------------------------------------

$baseFont: 'dinpro', Arial, sans-serif;
$titleFont:  Arial, sans-serif;


// ----------------------------------------------------------------------
// Animation speed
// ----------------------------------------------------------------------
$t150: 150ms;
$t300: 300ms;
$t600: 600ms;

// ----------------------------------------------------------------------
// Layout sizes
// ----------------------------------------------------------------------
$maxW: 1190px;
$minW: 320px;

$screenXL: 1800px;
$screenLL: 1500px;
$screenLS: 1380px;

$screenM: 1288px;
$screenMM: 1168px;
$screenMS: 1020px;

$screenSL: 960px;
$screenSM: 860px;
$screenS: 767px;
$screenSS: 630px;
$screenXS: 480px;


$wrapperM-padd: 20px;
$wrapperS-padd: 20px;
$wrapperSS-padd: 20px;

$screenWrapperBreak: $screenM + ($wrapperM-padd * 2);

// ----------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------

