// ----------------------------------------------------------------------
// Icon
// ----------------------------------------------------------------------

.iconic
    &--be
        font-size: 13px
    &--insta
        font-size: 17px
    &--vk
        font-size: 14px
    &--tw
        font-size: 14px
    &--in
        font-size: 17px
    &--fb
        font-size: 16px