.load
    .houseBG
        animation: houseBGfadeOut1 0.5s ease 3s forwards
    .houseGR
        animation: houseGRfadeIn .5s ease 4s forwards
    .house
        &__front
            animation: houseFront 0.3s ease 4.2s forwards
        .side
            animation: houseSide 0.3s ease 4.2s forwards
            &:after,
            &:before
                animation: houseSideAfter 0.3s ease 4.2s forwards

.houseBG
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    z-index: 6
    height: 80vh
    width: 70%
    max-width: 720px
    fill: none
    stroke-width: 1.801
    stroke-linecap: butt
    stroke-linejoin: round
    stroke-miterlimit: 10
    stroke-dasharray: none
    stroke-opacity: 1
    path
        stroke-dasharray: 1000
        stroke-dashoffset: 1000
        will-change: stroke-dasharray, stroke-dashoffset
        transform: translate3d(0)
    .yellow
        stroke: #fff100
    .green
        stroke: #00a551
    .red
        stroke: #ec1c24
    .pink
        stroke: #eb008b
    .blue
        stroke: #00adee

@keyframes houseBGfadeOut1
    0% 
        opacity: 1
        display: block
    100% 
        opacity: 0
        display: none

@-webkit-keyframes houseBGfadeOut1
    0% 
        opacity: 1
        display: block
    100% 
        opacity: 0
        display: none

@keyframes houseBGfadeOut2
    100%
        stroke: rgba(74, 74, 74, 0.9)

@-webkit-keyframes houseBGfadeOut2
    100%
        stroke: rgba(74, 74, 74, 0.9)

.house
    height: 468px
    width: 100%
    position: absolute
    top: calc(50% - 265px)
    left: 0
    transform-style: preserve-3d
    transform: rotateX(-42deg) rotateY(27deg) rotate(0deg)
    z-index: 3
    svg
        fill: none
        stroke: rgba(74, 74, 74, 0.9)
        stroke-width: 2
    &__wrap
        position: absolute
        top: 50%
        left: 50%
        transform-style: preserve-3d
        transform: rotateY(-90deg) translate(-50%, -50%)
    &__front
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        transform: rotateY(90deg) translateZ(-250px)
        transform-style: preserve-3d
        stroke-opacity: 0
        will-change: animation
    &__shadow
        position: absolute
        bottom: -500px
        left: 50%
        transform: translateX(-50%) rotateX(90deg)
        width: 700px
        height: 700px
        background: radial-gradient(ellipse at center, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 70%)
    &__side
        transform-style: preserve-3d
    .wall
        position: absolute
        top: 50%
        left: 50%
        width: 500px
        height: 466px
        transform-style: preserve-3d
        &--1
            transform: translate3d(-50%, -50%, -15px)
        &--2
            transform: translate3d(-50%, -50%, 515px)
        &__shadow
            position: absolute
            top: 90%
            left: 50%
            width: 100%
            height: 150px
            background: radial-gradient(ellipse at center, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 70%)
            transform: translateX(-50%) rotateX(90deg)
            transition: 0.1s opacity

    .side
        position: absolute
        left: 50%
        bottom: 0
        width: 534px
        height: 277px
        border: 5px solid transparent
        transform-style: preserve-3d
        will-change: animation
        border-radius: 5px
        &:after,
        &:before
            content: ""
            position: absolute
            right: 0
            width: calc(100% + 4px)
            height: 3px
            background-color: rgba(74,74,74,0)
            will-change: animation
        &:after
            top: -5px
        &:before
            bottom: -5px
        &--1
            transform: translate3d(-50%, 84.5%, -250px)
            &:after,
            &:before
                transform: rotateX(90deg) translateY(1px)

        &--2
            transform: translate3d(-50%, 84.5%, 250px)
            &:after,
            &:before
                transform: rotateX(90deg) translateY(0)
    +max-screen-or-height(940px, 800px)
        .wall
            width: 340px
            height: 318px
            &--1
                transform: translate3d(-50%, -50%, 85px)
            &--2
                transform: translate3d(-50%, -50%, 415px)
            &__shadow
                display: none
        .side
            width: 330px
            height: 186px
            border-width: 3px
            &--1
                transform: translate3d(-50%, 84.5%, -169px)
            &--2
                transform: translate3d(-50%, 84.5%, 168px)
        &__shadow
            width: 400px
            height: 400px
            bottom: -250px
    +max-screen-or-height(540px, 520px)
        &__wrap
            top: 56%
        .wall
            width: 200px
            height: 188px
            &--1
                transform: translate3d(-50%, -50%, 150px)
            &--2
                transform: translate3d(-50%, -50%, 350px)
        .side
            width: 202px
            height: 110px
            border-width: 1px
            &:after,
            &:before
                height: 1px
                transform: rotateX(90deg) translateY(0px)
            &:after
                top: -2px
            &:before
                bottom: -2px
            &--1
                transform: translate3d(-50%, 83.5%, -99px)
            &--2
                transform: translate3d(-50%, 83.5%, 99px)
        &__shadow
            width: 300px
            height: 300px
            bottom: -110px
        
.houseGR
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: radial-gradient(rgba(255,255,255,0.8) 0%, rgba(255,255,255,0) 70%)
    z-index: 8
    opacity: 0

.active
    .houseGR
        z-index: 5

@keyframes houseGRfadeIn
    0%
        opacity: 0
    90%
        opacity: 1
    100%
        opacity: 1

@keyframes houseFront
    0%
        stroke-opacity: 0
    100%
        stroke-opacity: 1

@keyframes houseSideAfter
    0%
        background-color: rgba(74,74,74,0)
    100%
        background-color: rgba(74,74,74,.9)

@keyframes houseSide
    0%
        border-color: transparent
    100%
        border-color: rgba(74, 74, 74, 0.9)

@-webkit-keyframes houseGRfadeIn
    0%
        opacity: 0
    90%
        opacity: 1
    100%
        opacity: 1

@-webkit-keyframes houseFront
    0%
        stroke-opacity: 0
    100%
        stroke-opacity: 1

@-webkit-keyframes houseSideAfter
    0%
        background-color: rgba(74,74,74,0)
    100%
        background-color: rgba(74,74,74,.9)

@-webkit-keyframes houseSide
    0%
        border-color: transparent
    100%
        border-color: rgba(74, 74, 74, 0.9)
