.header.preload
    a(href="#").header__logo
        i
        span
            img(src="img/logo_standart.svg", alt="", ).passive--img
            img(src="img/logo_hover.svg", alt="").active--img
        //- span transparent house
    .header__soc
        a(href="#").iconic.iconic--be
        a(href="#").iconic.iconic--vk
        a(href="#").iconic.iconic--tw
        a(href="#").iconic.iconic--fb
        a(href="#").iconic.iconic--in
        a(href="#").iconic.iconic--insta
    .header__link.header__link--1
        img(src="img/about_standart.svg", alt="").passive--img
        img(src="img/about_hover.svg", alt="").active--img
    .header__link.header__link--2
        img(src="img/contacts_standart.svg", alt="").passive--img
        img(src="img/contacts_hover.svg", alt="").active--img
