doctype
html(lang="ru")
    head
        meta(charset="UTF-8")
        title Frontend
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1")
        link(rel="stylesheet" href="./styles/main.css")
    body
        .page
            include header
            block content

        script(src="./scripts/house.js")
        script(src="./scripts/main.js")