@charset "UTF-8"

// ----------------------------------------------------------------------
// General styles
// ----------------------------------------------------------------------

*,
*:after,
*:before
	box-sizing: border-box
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)


HTML,
BODY
	height: 100%
	min-width: $minW
	margin: 0
	padding: 0
	
BODY
	// overflow: hidden
	font-family: $baseFont
	background-color: #000
	color: #fff
	// +max-screen(940px)
		// overflow-y: auto

INPUT,
TEXTAREA,
BUTTON
	font-family: $baseFont
	outline: none 
	border: 0
	background-color: transparent
	padding: 0
	line-height: normal
	-webkit-appearance: none
	border-radius: 0

	&:focus
		outline: none

a
	color: inherit
	text-decoration: none

//::selection
	background: red
	color: #fff
	text-shadow: none

//::-webkit-scrollbar-track
	background: transparent

//::-webkit-scrollbar
	width: 12px

//::-webkit-scrollbar-thumb
	background-color: red
	cursor: pointer


