@charset "UTF-8";
@font-face {
    font-family: "iconic";
    src: url('../fonts/iconic.eot');
    src: url('../fonts/iconic.eot?#iefix') format('eot'),
    url('../fonts/iconic.woff') format('woff'),
    url('../fonts/iconic.ttf') format('truetype'),
    url('../fonts/iconic.svg#iconic') format('svg');
}

@mixin iconic-styles {
    font-family: "iconic";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    color: #000;
}

.iconic {
    @include iconic-styles;
}

@function iconic-char($filename) {
    $char: "";

    @if $filename == arr {
    $char: "\E001";
}
    @if $filename == be {
    $char: "\E002";
}
    @if $filename == check {
    $char: "\E003";
}
    @if $filename == cross {
    $char: "\E004";
}
    @if $filename == fb {
    $char: "\E005";
}
    @if $filename == in {
    $char: "\E006";
}
    @if $filename == insta {
    $char: "\E007";
}
    @if $filename == tw {
    $char: "\E008";
}
    @if $filename == vk {
    $char: "\E009";
}

@return $char;
}

@mixin iconic($filename, $insert: after, $extend: true) {
&:#{$insert} {

    content: iconic-char($filename);
}
}

.iconic--arr {
    @include iconic(arr);
}
.iconic--be {
    @include iconic(be);
}
.iconic--check {
    @include iconic(check);
}
.iconic--cross {
    @include iconic(cross);
}
.iconic--fb {
    @include iconic(fb);
}
.iconic--in {
    @include iconic(in);
}
.iconic--insta {
    @include iconic(insta);
}
.iconic--tw {
    @include iconic(tw);
}
.iconic--vk {
    @include iconic(vk);
}