// //@font-face
// 	font-family: 'NeoSansPro'
// 	src: url('../fonts/NeoSansProRegular.eot')
// 	src: url('../fonts/NeoSansProRegular.eot') format('embedded-opentype'), url('../fonts/NeoSansProRegular.woff2') format('woff2'), url('../fonts/NeoSansProRegular.woff') format('woff'),url('../fonts/NeoSansProRegular.ttf') format('truetype'),url('../fonts/NeoSansProRegular.svg#NeoSansProRegular') format('svg')
// 	font-weight: normal

@font-face
	font-family: 'dinpro'
	src: url('../fonts/pfdintextpro-medium.ttf') format('truetype')
	font-weight: 500

@font-face
	font-family: 'dinpro'
	src: url('../fonts/dinpro-light.otf') format('truetype')
	font-weight: 100

@font-face
	font-family: 'dinpro'
	src: url('../fonts/dinpro-bold.otf') format('truetype')
	font-weight: bold