extends includes/layout

block content
    .page__bg.preload

    svg.houseBG(viewBox="0 0 375 397.79251")
        g#g10(transform="matrix(1.25,0,0,-1.25,0,397.7925)")
            g.blue(transform="translate(299.0985,149.1858)")
                path.blue-top(d="M 0,0 -103.848,139.176" data-speed="0.5s" data-delay="1.15s")
                path.blue-bottom(d="m -95,28.449 -15.737,20.644" data-speed="0.2s" data-delay="1.9s")
            g.yellow(transform="translate(108.0741,87.8557)")
                path.yellow-bottom-left(d="M -107.174,52.634 -3.999,-86.955" data-speed="0.4s" data-delay="1.3s")
                path.yellow-bottom-right(d="M 186.22,-24.5 -4,-86" data-speed="0.4s" data-delay="1.45s")
                path.yellow-top-left(d="M 0,0 -53.424,68.708" data-speed="0.3s" data-delay="0.35s")
            g.green(transform="translate(294.2939,62.6614)")
                path.green-top-right(d="M -89.419,114.974 4.805,86.524" data-speed="0.4s" data-delay="0.77s")
                path.green-down(d="M 4.805,87 0,0" data-speed="0.3s" data-delay="1.15s")
                path.green-bottom(d="M 0,0 -89.419,114.974" data-speed="0.5s" data-delay="1.45s")
            g.yellow(transform="translate(108.0741,87.8557)")
                path.yellow-top-right(d="M 0,0 97,89.9" data-speed="0.4s" data-delay="0.35s")
            g.pink(transform="translate(102.2411,317.3333)")
                path.pink-top-right(d="M 0,0 93.01,-28.971" data-speed="0.3s" data-delay="1.4s")
                path.pink-down(d="m 93,-28 -7,-91" data-speed="0.3s" data-delay="1.69s")
                path.pink-bottom(d="M -47.591,-160.77 86.896,-119.055" data-speed="0.4s" data-delay="1.6s")
                path.pink-top-left(d="M -98.5,-92 1,0.5" data-speed="0.4s" data-delay="1s")
            g.red(transform="translate(54.6503,156.5637)")
                path.red-top-left(d="M 0,0 -50.555,69.128" data-speed="0.3s" data-delay="0.65s")
                path.red-down(d="M -50.555,69.128 -53.85,-16.074" data-speed="0.3s" data-delay="1s")
                path.red-bottom-right(d="M -54.5,-16 0,0" data-speed="0.3s" data-delay="1.3s")
            g.yellow(transform="translate(104.0751,0.9007)")
                path.yellow-up(d="M 0,0 3.999,86.955" data-speed="0.3s" data-delay="0s")

    .house
        .house__wrap
            .house__front
                .wall.wall--1
                    svg(viewBox="0 0 250 234")
                        path(d="M 126,1 1,96 l 0,136 248,0 0,-137 z")
                    .wall__shadow.wall__shadow--full
                .wall.wall--2
                    svg(viewBox="0 0 250 234")
                        path(d="M 126,1 1,96 l 0,136 248,0 0,-137 z")
                    .wall__shadow.wall__shadow--full
            .house__side
                .side.side--1
                .side.side--2
    .houseGR
    .videoWrap.preload
        video#video1.videoBg(muted loop="loop" playsinline preload="auto")
            source(src="./video/01_Commercial_2.mp4")
            source(src="./video/01_Commercial_2.ogg")
        video#video2.videoBg(muted loop="loop" playsinline preload="auto")
            source(src="./video/02 Interactive 2.mp4")
            source(src="./video/02 Interactive 2.ogg")
        video#video3.videoBg(muted loop="loop" playsinline preload="auto")
            source(src="./video/03 Cg Inveroments 2.mp4")
            source(src="./video/03 Cg Inveroments 2.ogg")
    
    .nav.preload
        i.iconic.iconic--arr
        .nav__item(data-video="video1")
            span Commercial
            .navLevel
                .navLevel__item CG Rendering
                .navLevel__item animations
                .navLevel__item Film
                .navLevel__item Commercials
        .nav__item(data-video="video2")
            span Interactive
            .navLevel
                .navLevel__item Commercials
                .navLevel__item NY
                .navLevel__item CG Rendering w3rc
                .navLevel__item Film
        .nav__item(data-video="video3")
            span CG Environments
            .navLevel
                .navLevel__item Film qwet
                .navLevel__item CG Rendering
                .navLevel__item animations
                .navLevel__item Commercials
    

    //- .check
    //-     p#check-x
    //-     p#check-y
    //-     p#check-z